<div *ngIf="data._id">

    <div class="row d-inline-flex">
        <h1>{{data?.name}}</h1>
        <img src="{{data?.picture.medium}}" alt="">
    </div>
    

    <div class info >

        <div *ngIf="data?.urlOfficialWebsite"><span class="h5">Web site:</span> <a href="{{data?.urlOfficialWebsite}}">{{data?.urlOfficialWebsite}}</a></div>
        <div *ngIf="data?.urlFacebook"><span class="h5">Facebook:</span> <a href="{{data?.urlFacebook}}">{{data?.urlFacebook}}</a> </div>

        <div class="location" *ngIf="data?.locationInfo">
            <h4>Location</h4>
            <table class="table">
                <tr *ngIf="data?.locationInfo[0]">
                    <td>Country</td>
                    <td>{{data?.locationInfo[0]}}</td>
                </tr>
                <tr *ngIf="data?.locationInfo[1]">
                    <td>State</td>
                    <td>{{data?.locationInfo[1]}}</td>
                </tr>
                <tr *ngIf="data?.locationInfo[2]">
                    <td>City</td>
                    <td>{{data?.locationInfo[2]}}</td>
                </tr>
            </table>

        </div>

        <br>

        <div class="genreMusical" *ngIf="data.genres">
            <h4>Genres</h4>
            <ul class="list">
                <li *ngFor="let genre of data.genres">{{genre}}</li>
            </ul>
        </div>

    </div>


    <div *ngIf="data == []">
        Error: artist not found
    </div>

</div>